* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #FFD7F2;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 100%;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: #791b61;
  text-align: center;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: #791b61;
  text-align: center;
}

h3 {
  font-size: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #BD8FB1;
}

.titulo-apasi {
  font-family: "Cinzel", serif;
  font-size: 6rem;
  color: #791b61;
}

.parrafos-inicio {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}

.cita {
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.h3-instit {
  font-family: "Cinzel", serif;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: underline;
}

.colorfooter {
  background-color: #BD8FB1;
}

h4 {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-weight: bolder;
}

.headercolor {
  background-color: #FFD7F2;
}

nav {
  background-color: #BD8FB1;
}

#navbarNav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
}

.colorboton {
  background-color: #BD8FB1;
  border-radius: 1rem;
}
.colorboton:hover {
  background-color: #791b61;
  color: white;
}

.card-profesionales {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: #791b61;
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.titulo-apasi {
  text-align: center;
}

.parrafos-inicio {
  text-align: center;
  justify-self: end;
}

.cita {
  background-image: url(/assets/imagenes/citas3.avif);
  background-size: cover;
  text-align: center;
}

form-label {
  font-family: "Roboto", sans-serif;
}

.actividades1 {
  text-align: center;
  padding: 4rem;
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  background-image: url(../assets/imagenes/habilidades-sociales.jpg);
}
.actividades1:hover {
  filter: drop-shadow(0 0 0.75rem rgb(185, 185, 185));
}

.actividades-texto {
  color: rgb(44, 44, 44);
  text-align: center;
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 2.5rem;
}

.actividades-texto__2 {
  color: rgb(244, 236, 236);
  text-align: center;
  text-shadow: black 2px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.3rem;
}

.div-actividades__2 {
  text-align: center;
  padding: 4rem;
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  background-image: url(../assets/imagenes/orientacion-a-padres.avif);
}
.div-actividades__2:hover {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.div-actividades__3 {
  text-align: center;
  padding: 4rem;
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  background-image: url(../assets/imagenes/capacitaciones.avif);
}
.div-actividades__3:hover {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.div-actividades__4 {
  text-align: center;
  padding: 4rem;
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  background-image: url(../assets/imagenes/independencia-familiar.avif);
}
.div-actividades__4:hover {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.h3-instit {
  font-family: "Cinzel", serif;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: underline;
}

.imagen-profesionales {
  width: 100%;
  float: right;
}

/*# sourceMappingURL=styles.css.map */
