$colorfondo:#FFD7F2;
$coloralt: #BD8FB1;
$letrasgeneral:'Roboto', sans-serif;
$letrastitulo: 'Cinzel', serif;
$sizeh1:3rem;
$sizep:1.5rem;
$colortitulo: #791b61;
$color1act: rgb(44, 44, 44);
$color2act:rgb(244, 236, 236);
$shadow1:#ffffff;
