
.titulo-apasi {
    text-align: center;
}
.parrafos-inicio {
    text-align: center;
    justify-self: end;
}

.cita {
    background-image: url(/assets/imagenes/citas3.1.jpg);
    background-size: cover;
    text-align: center;
}
